<%= form_with model: Comment.new, url: post_comments_path(post), class: "comment-form row mb-2" do |f| %>
  <div class="col-10">
    <%= f.text_field :body, class: "form-control", placeholder: "Leave a comment..." %>
  </div>
  <div class="col-2">
    <%= f.submit "Comment", class: "btn btn-primary w-100" %>
  </div>
<% end %>
