<main>
  <%# This code generates a link with the text "â† Back to posts"
  that when clicked will take the user to the index page
  for the posts resource. %>
  <%= link_to sanitize("&larr; Back to posts"), sites_path %>
  <div>
    <h1>New post</h1>
  </div>
  <%# The turbo_frame_tag helper method is used to wrap the post form
  in a Turbo frame. Turbo frames enable partial updates of a page,
  which can improve the perceived speed and performance
  of a web application. %>
  <%= turbo_frame_tag @post do %>
    <%= render 'form', post: @post %>
  <% end %>
</main>
